<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Josefin Sans', sans-serif;
        }
        html{
            scroll-behavior: smooth;
        }

        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>

        
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Coder's Hack</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/uploadmultiple">Upload Image</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="/register">Register</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="/logout">Log out</a>
                        </div>
                    </li>
                   
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        

    </header>

    <section id="about">
        <div class="container-fluid">
            <h1 class="text-center text-capitalize pt-5">Project For IIH Global</h1>
            <hr class="w-25 mx-auto pb-5">

            <div class="row mb-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <img src="images/img1.jpg" alt="" class="img-fluid ml-2 img1">
                </div>
                <div class="col-lg-6 col-md-6 col-12 que">
                    <h1>Who Am I ?</h1>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus officiis modi amet recusandae
                        itaque
                        nemo delectus dolores ea doloribus expedita veritatis illo quisquam harum laborum, libero aut
                        tempore excepturi. Illum ratione, id beatae enim at tempore ea repellendus neque ipsa dolorum
                        iusto
                        maxime, voluptas placeat, consectetur eius minus sequi. Ratione quam architecto, sint modi
                        quaerat
                        laborum? Perferendis quos assumenda soluta earum saepe mollitia atque temporibus dignissimos
                        aut.
                        Quod commodi reprehenderit error. Dolorem ex facere eius. Optio, totam rerum. Deserunt, nemo,
                        officia cum modi laboriosam laudantium vel minus eveniet quia, iusto sequi doloremque quidem qui
                        reiciendis suscipit perferendis saepe accusamus itaque?</p>
                    <button class="btn bg-primary text-white">Wanna Know Me</button>
                </div>
            </div>
        </div>

    </section>

   


    

   

    <footer>
        <p class="bg-dark text-white text-center mb-0 py-2">copyright &copy | 2020</p>
    </footer>

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/myjQuery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

